body {
  background-color: hsl(0, 0%, 98%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(0, 0%, 30%);
}

.box-element {
  box-shadow: hsl(0, 0%, 80%) 0 0 16px;
  border-radius: 4px;
  padding: 10px;
}

.thumbnail {
  width: 100%;
  height: 200px;
  object-fit: contain;
  -webkit-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
  -moz-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
  box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
}

.product {
  border-radius: 0 0 4px 4px;
}

.product_action {
  display: flex;
  gap: 10px;
  align-items: center;
}
.product_Price {
  margin-left: auto;
}
.bg-dark {
  background-color: #4f868c !important;
}

#cart-icon {
  width: 25px;
  display: inline-block;
  margin-left: 15px;
}

#cart-total {
  display: block;
  text-align: center;
  color: #fff;
  padding: 2px;
  padding-left: 3px;
  font-weight: 700;
  padding-right: 3px;
  background-color: red;
  border-radius: 50%;
  font-size: 14px;
}

.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-12 {
  margin-top: 10px;
}

.btn {
  border-radius: 0;
}

.row-image {
  width: 100px;
}

.form-field {
  width: 250px;
  display: inline-block;
  padding: 5px;
}

.cart-row {
  display: flex;
  align-items: flex-stretch;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.quantity {
  display: inline-block;
  font-weight: 700;
  padding-right: 10px;
}

.chg-quantity {
  width: 12px;
  cursor: pointer;
  display: block;
  margin-top: 5px;
  transition: 0.1s;
}

.chg-quantity:hover {
  opacity: 0.6;
}

.hidden {
  display: none !important;
}

#payment-info {
  text-align: center;
  color: white;
}
